
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card mb-3">
            <h5 class="card-title mt-1">Title: my first app in bootstrap</h5>
            <img src="../img/332.jpg" class="card-img-top" alt="...">
            <div id="accordion">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid single-origin coffee nulla assumenda shoreditch et.
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    Nihil anim keffiyeh
                    helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it
                </div>
                <a class="link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                   aria-controls="collapseTwo" style="cursor: pointer;">
                    Read more
                </a>
            </div>
            <div class="row mb-1">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 p-2 text-right">
                    <div class="d-inline">
                        <small class="align-middle">editor</small>
                        <small class="align-middle">date</small>
                        <small class="align-middle">type</small>
                    </div>
                    <div class="d-inline">
                        <small class="align-middle">views</small>
                        <small class="align-middle">0</small>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
